PORT=30004

MONGO_URI=mongodb+srv://xoshimjonovxurshidbek5:W95CKASKMcUyB8@ieltsx.4i192b.mongodb.net/?appName=IELTSX

MONGO_DB_NAME=ieltsmock

AUTH_SECRET=ieltsx-super-secret-key-2026

ADMIN_EMAILS=hoshimjonov08@gmail.com